// Place all the styles related to the CardinalPlacements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color:#CF5829;

table{
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
}


td,th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 10px 5px;
}

th {
	text-align:left;
	border-bottom: 2px solid #CF5829;
}

tr {
	border-bottom: solid 1px #c7c7c7;
}

td.edit, th.edit, td.delete, th.delete{
	width:100px;
	text-align:center;
}
