$primary-color:#CF5829;

body,html{
	height:100%;
	font-family:sans-serif;
	margin:0;
}

header{
	float:left;
	width:100%;
}

header #login{
	float:right;
}

header section{
	padding:20px;
}

#context_nav {
	width:15%;
	float:left;
	height:100%;
	background-color:whitesmoke;
	padding:10px 0 10px 15px;
	margin:0 10px 0 0;
	font-size:14px;
}

#context_nav ul{
	margin:0;
	padding:0;
}

#context_nav li{
	list-style:none;
	margin: 10px 0;
}

#main {
	height:100%;
}

#work_panel {
	float:left;
	width:83%;
}

label{
	margin: 0 10px 0 0;
	clear:both;
	float:left;
	text-align:right;
	width:20%;
	padding: 13px 0;
	font-size: 18px;
	font-weight:bold;
}

input[type="text"], input[type="number"]{
	float:left;
	width:50%;
	padding: 10px;
	font-size: 16px;
	border-radius:5px;
}

fieldset {
	float: left;
	clear: both;
	border:none;
	margin: 0 0 0 9.2%;
}

fieldset legend{
	float: left;
	margin: 0 10px 0 0;
	font-weight:bold;
	font-size:18px;
}

fieldset label{
	margin:0;
	width:initial;
	clear:none;
	padding:0 15px 0 0;
	font-size: 16px;
}

fieldset input[type="radio"]{
	float:left;
	vertical-align:middle;
}

fieldset div.radios {
	float: left;
	padding: 2px;
}

form div.buttons {
	float: left;
	clear: both;
	text-align: right;
	width: 73%;
}


form div.buttons input {
	padding: 10px 30px;
	font-size:16px;
}

nav#main_nav
{
	background-color: $primary-color;
	height: 45px;
	float: left;
	width: 100%;
}

nav#main_nav ul
{
	padding: 12px 0 0 0;
	margin: 0;
}

nav#main_nav li
{
	display: block;
	float: left;
	margin-left: 5px;
	background-color: #E6E6E6;
	border-radius: 5px 5px 0 0;
	border: solid 1px #E6E6E6;
}

nav#main_nav li.selected
{
	background-color: white;
	border-top: solid 1px darkGray;
	border-left: solid 1px darkGray;
	border-right: solid 1px darkGray;
	border-bottom: 1px solid white;
	adding-bottom: 1px;
}

nav#main_nav li a
{
	padding: 6px 15px;
	float: left;
	color: #212121;
	text-decoration: none;
	cursor: inherit;
}

.flash {
	text-align: center;
	margin:5px 0;
	padding: 10px;
	border-radius: 5px;
}

#flash_info{
	background-color: #9ED184;
	border: 1px solid #528F33;
}

#flash_error{
	background-color: #E37171;
	border: 1px solid #CC0000;
}
